html, body{
   padding: 0;
   margin: 0;
}

header {
	display: inline-flex;
	height: 69px;
	border-bottom: 1px solid seashell;
	position: fixed;
	background-color: black;
	width: 100%;
	align-items: center;
}



.header-logo img {
	max-height: 50px;
	margin-left: 10px;

}